# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
env/
venv/
.venv/
ENV/
.env

# dotenv / secrets
.env
*.env

# Logs
*.log

# IDE / Editor configs
.vscode/
.idea/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db
desktop.ini
